Package: enigma2-plugin-extensions-iptv-org-playlists
Version: 0.1
Description: Tool to create bouquets based on playlists from github.com/iptv-org
Section: extra
Priority: optional
License: gplv2
Architecture: all
